<!DOCTYPE html>
<html lang="en">
<head>
    <title>Burguer</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/styles.css">
    <script defer src="../js/script.js"> </script>
</head>
<body>
    <div class="topo">
        <h1>Bem vindo ao Burguer!</h1>
        <h2>Entre e monte seu pedido</h2>
    </div>
    <div class="dados"><br><br>

            <label for="email">E-mail:</label>
            <input type="email" id="email"><br><br>

            <label for="password">Senha:</label>
            <input type="password" id="password"><br><br>
        
            </div>
            <div class="botao"><br>
                <button onclick="validarUsuario()">Entrar</button><br><br>
                <a href="cadastro.html"><input type="submit" value="Cadastrar" > </a><br><br>

            </div>

    
</body>
</html>