<!DOCTYPE html>
<html lang="en">
<head>
    <title>Burguer</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/styles.css">
</head>
<body>
    <div class="topo">
        <h1>Bem vindo ao Burguer!</h1>
        <h2>Entre e monte seu pedido</h2>
    </div>
    <div class="dados"><br><br>
        <form action="pedido.html">
            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email"><br><br>

            <label for="password">Senha:</label>
            <input type="password" id="password" name="password"><br><br>
        </form>
    </div>
    <div class="botao"><br>
        <a href="Pedido.html"><input type="submit" value="Entrar"></a><br><br>
        <a href="cadastro.html"><input type="submit" value="Cadastrar" > </a><br><br>

    </div>
    
</body>
</html>