<!DOCTYPE html>
<html lang="en">
<head>
    <title>Burguer - pedido</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/styles.css">
</head>
<body>
    <div class="card">

        <div class="topo">
            <h1>Bem vindo ao Burguer!</h1>
            <h2>Monte seu pedido:</h2>
        </div>

        <div class="produto">
            <h2><strong>Tipos de Hamburguer </strong></h2><br>
            <input type="checkbox">Picanha <br>
            <input type="checkbox">Costela <br>
            <input type="checkbox">Frango <br>
            <br>

        </div>

        <div class="produto">
            <h2><strong>Tipos de pão </strong> </h2>
            <input type="checkbox">Francês <br> 
            <input type="checkbox">Australiano <br>
            <input type="checkbox">Hamburguer <br>
            <br>
        </div>

        <div class="produto">
            <h2><strong>Tipos de Molho</strong><br></h2>
            <input type="checkbox">Picante <br> 
            <input type="checkbox">Especial <br> 
            <input type="checkbox">Gorgonzola <br><br>
        </div>

        <div class="produto">
            <h2><strong>Opcionais:</strong></h2>
            <input type="checkbox">Alface <br>
            <input type="checkbox">Tomate <br>
            <input type="checkbox">Picles <br>
            <input type="checkbox">Chedar <br>
            <input type="checkbox">Muçarela <br> 
            <input type="checkbox">Bacon <br>
            <br>
        </div>
        <div class="botao">
            <input type="submit" value="Finalizar Pedido">
        </div>
    </div>
</body>
</html>